ignore-scripts=true
strict-ssl=false
registry=https://artifactory-npm.checkpoint.com/artifactory/api/npm/npm/
@chkp:registry=https://artifactory-npm.checkpoint.com/artifactory/api/npm/npm/
@chkp-iot:registry=https://artifactory-npm.checkpoint.com/artifactory/api/npm/npm/
@chkp-i2:registry=https://artifactory-npm.checkpoint.com/artifactory/api/npm/npm/
@infinity-next:registry=https://artifactory-npm.checkpoint.com/artifactory/api/npm/npm/
